.card {
    width: 250px;
    background: #525252;
    padding: 15px;
    color: white;
    margin: 5px;
    cursor: pointer;
    border-radius: 0;

    &:hover {
        background: #232323;
    }

    &.active {
        background: #e69202;
        border: 1px solid black;
        color: black;
    }

    .card-label {
        font-weight: bold;
        text-decoration: underline;
    }
}